{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{%block head %}
<title>Business Tex | {{person.name}} Profile</title>
<link rel="stylesheet" href="{% static 'css/vendor/datatables.min.css' %}" />

{% endblock head %} 

{% block main %}

<main>
    <div class="container">
        <!-- Title and Top Buttons Start -->
        <div class="page-title-container">
            <div class="row">
                <!-- Title Start -->
                <div class="col-auto mb-3 mb-md-0 me-auto">
                    <div class="w-auto sw-md-30">
                        <a href="#" class="muted-link pb-1 d-inline-block breadcrumb-back">
                            <i data-cs-icon="chevron-left" data-cs-size="13"></i>
                            <span class="text-small align-middle">profile</span>
                        </a>
                        <h1 class="mb-0 pb-0 display-4" id="title">profile Detail</h1>
                    </div>
                </div>
                <!-- Title End -->

                <!-- Top Buttons Start -->
                <div class="col-12 col-md-5 d-flex align-items-end justify-content-end">
                    <a href='{% url "business:Person_invoice" person.id %}' type="button"
                        class="btn btn-outline-primary btn-icon btn-icon-start ms-0 ms-sm-1 w-100 w-md-auto">
                        <i data-cs-icon="save"></i>
                        <span>Reports</span>
                    </a>

                </div>
                <!-- Top Buttons End -->
            </div>
        </div>
        <!-- Title and Top Buttons End -->

        <div class="row gx-4 gy-5">
            <!-- Customer Start -->
            <div class="col-12 col-xl-4 col-xxl-3">
                <h2 class="small-title">Info</h2>
                <div class="card">
                    <div class="card-body mb-n5">
                        <div class="d-flex align-items-center flex-column">
                            <div class="mb-5 d-flex align-items-center flex-column">
                                <div
                                    class="sw-6 sh-6 mb-3 d-inline-block bg-primary d-flex justify-content-center align-items-center rounded-xl">
                                    <div class="text-white">{{person.name|slice:":2"|upper}}</div>
                                </div>
                                <div class="h5 mb-1">{{person.name}}</div>
                                <div class="text-muted">
                                    <i data-cs-icon="pin" class="text-muted"></i>
                                    <span class="align-middle">{{person.address}}, {{ person.city}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="d-flex flex-row justify-content-between w-100 w-sm-50 w-xl-100 mb-5">
                                <a href='{% url "business:person_edit" person.id  %}' class="btn btn-primary w-100 me-2"> Edit </a>
                            </div>
                        </div>

                        <div class="mb-5">
                            <div>
                                <p class="text-small text-muted mb-2">Profile Info</p>
                                <div class="row g-0 mb-2">
                                    <div class="col-auto">
                                        <div class="sw-3 me-1">
                                            <i data-cs-icon="user" class="text-primary" data-cs-size="17"></i>
                                        </div>
                                    </div>
                                    <div class="col text-alternate align-middle">
                                        {{person.name}}
                                    </div>
                                </div>
                                <div class="row g-0 mb-2">
                                    <div class="col-auto">
                                        <div class="sw-3 me-1">
                                            <i data-cs-icon="pin" class="text-primary" data-cs-size="17"></i>
                                        </div>
                                    </div>
                                    <div class="col text-alternate">
                                        {{person.address_2}}, {{person.address}}, {{ person.city}}, {{person.country}}
                                    </div>
                                </div>
                                <div class="row g-0 mb-2">
                                    <div class="col-auto">
                                        <div class="sw-3 me-1">
                                            <i data-cs-icon="phone" class="text-primary" data-cs-size="17"></i>
                                        </div>
                                    </div>
                                    <div class="col text-alternate">{{person.phone_number}}</div>
                                </div>
                                <div class="row g-0 mb-2">
                                    <div class="col-auto">
                                        <div class="sw-3 me-1">
                                            <i data-cs-icon="email" class="text-primary" data-cs-size="17"></i>
                                        </div>
                                    </div>
                                    <div class="col text-alternate">{{person.email}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Customer End -->

            <div class="col-12 col-xl-8 col-xxl-9">
                <!-- Recent Orders Start -->

                {% if fabric_dyeing_inventory %}
                    <div class="d-flex justify-content-between">
                        <h2 class="small-title">Recent Dyed Fabric</h2>
                    </div>
                    <div class="mb-5">
                        {% for obj in fabric_dyeing_inventory %}
                        <div class="card mb-2">
                            <div class="row g-0 sh-16 sh-md-8">
                                <div class="col">
                                    <div class="card-body pt-0 pb-0 h-100">
                                        <div class="row g-0 h-100 align-content-center">
                                            <div
                                                class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 h-md-100">
                                                <div class="text-muted text-small d-md-none">Id</div>
                                                <a href="{{obj.get_absolute_url}}"
                                                    class="text-truncate h-100 d-flex align-items-center">{{obj.fabric}}</a>
                                            </div>
                                            <div
                                                class="col-6 col-md-4 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                                <div class="text-muted text-small d-md-none">Price</div>
                                                <div class="text-alternate">
                                                    <span>
                                                        <span class="text-small">$</span>
                                                        {{obj.total_price}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div
                                                class="col-6 col-md-2 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                                <div class="text-muted text-small d-md-none">Date</div>
                                                <div class="text-alternate">{{obj.recieved_at|date:"D d M"}}</div>
                                            </div>
                                            <div
                                                class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 align-items-md-end">
                                                <div class="text-muted text-small d-md-none">Status</div>
                                                <div class="text-alternate">
                                                    <span class="badge rounded-pill bg-outline-secondary">{{obj.status}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% elif fabric_inventory  %}
                    <div class="d-flex justify-content-between">
                        <h2 class="small-title">Recent Fabric</h2>
                    </div>
                    <div class="mb-5">
                        {% for obj in fabric_inventory %}
                        <div class="card mb-2">
                            <div class="row g-0 sh-16 sh-md-8">
                                <div class="col">
                                    <div class="card-body pt-0 pb-0 h-100">
                                        <div class="row g-0 h-100 align-content-center">
                                            <div
                                                class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 h-md-100">
                                                <div class="text-muted text-small d-md-none">Id</div>
                                                <a href="{{obj.get_absolute_url}}"
                                                    class="text-truncate h-100 d-flex align-items-center">{{obj.fabric}}</a>
                                            </div>
                                            <div
                                                class="col-6 col-md-4 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                                <div class="text-muted text-small d-md-none">Price</div>
                                                <div class="text-alternate">
                                                    <span>
                                                        <span class="text-small">$</span>
                                                        {{obj.total_price}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div
                                                class="col-6 col-md-2 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                                <div class="text-muted text-small d-md-none">Date</div>
                                                <div class="text-alternate">{{obj.recieved_at|date:"D d M"}}</div>
                                            </div>
                                            <div
                                                class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 align-items-md-end">
                                                <div class="text-muted text-small d-md-none">Status</div>
                                                <div class="text-alternate">
                                                    <span class="badge rounded-pill bg-outline-secondary">{{obj.status}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% elif yarn_inventory  %}
                    <div class="d-flex justify-content-between">
                        <h2 class="small-title">Recent Yarn</h2>
                    </div>
                    <div class="mb-5">
                        {% for obj in yarn_inventory %}
                        <div class="card mb-2">
                            <div class="row g-0 sh-16 sh-md-8">
                                <div class="col">
                                    <div class="card-body pt-0 pb-0 h-100">
                                        <div class="row g-0 h-100 align-content-center">
                                            <div
                                                class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 h-md-100">
                                                <div class="text-muted text-small d-md-none">Id</div>
                                                <a href="{{obj.get_absolute_url}}"
                                                    class="text-truncate h-100 d-flex align-items-center">{{obj.yarn}}</a>
                                            </div>
                                            <div
                                                class="col-6 col-md-4 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                                <div class="text-muted text-small d-md-none">Price</div>
                                                <div class="text-alternate">
                                                    <span>
                                                        <span class="text-small">$</span>
                                                        {{obj.total_price}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div
                                                class="col-6 col-md-2 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                                <div class="text-muted text-small d-md-none">Date</div>
                                                <div class="text-alternate">{{obj.recieved_at|date:"D d M"}}</div>
                                            </div>
                                            <div
                                                class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 align-items-md-end">
                                                <div class="text-muted text-small d-md-none">Status</div>
                                                <div class="text-alternate">
                                                    <span class="badge rounded-pill bg-outline-secondary">{{obj.status}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% elif sold_yarn %}
                    <div class="d-flex justify-content-between">
                        <h2 class="small-title">Recent Sold Yarn</h2>
                    </div>
                    <div class="mb-5">
                        {% for obj in sold_yarn %}
                        <div class="card mb-2">
                            <div class="row g-0 sh-16 sh-md-8">
                                <div class="col">
                                    <div class="card-body pt-0 pb-0 h-100">
                                        <div class="row g-0 h-100 align-content-center">
                                            <div
                                                class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 h-md-100">
                                                <div class="text-muted text-small d-md-none">Id</div>
                                                <a href="{{obj.get_absolute_url}}"
                                                    class="text-truncate h-100 d-flex align-items-center">{{obj.yarn_inventory}}</a>
                                            </div>
                                            <div
                                                class="col-6 col-md-4 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                                <div class="text-muted text-small d-md-none">Price</div>
                                                <div class="text-alternate">
                                                    <span>
                                                        <span class="text-small">$</span>
                                                        {{obj.total_price}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div
                                                class="col-6 col-md-2 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                                <div class="text-muted text-small d-md-none">Date</div>
                                                <div class="text-alternate">{{obj.sold_at|date:"D d M"}}</div>
                                            </div>
                                            <div
                                                class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 align-items-md-end">
                                                <div class="text-muted text-small d-md-none">Status</div>
                                                <div class="text-alternate">
                                                    <span class="badge rounded-pill bg-outline-secondary">Sold</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% elif sold_fabric  %}
                    <div class="d-flex justify-content-between">
                        <h2 class="small-title">Recent Sold Fabric</h2>
                    </div>
                    <div class="mb-5">
                        {% for obj in sold_fabric %}
                        <div class="card mb-2">
                            <div class="row g-0 sh-16 sh-md-8">
                                <div class="col">
                                    <div class="card-body pt-0 pb-0 h-100">
                                        <div class="row g-0 h-100 align-content-center">
                                            <div
                                                class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 h-md-100">
                                                <div class="text-muted text-small d-md-none">Id</div>
                                                <a href="{{obj.get_absolute_url}}"
                                                    class="text-truncate h-100 d-flex align-items-center">
                                                    {% if obj.fabric_dyeing_inventory %}
                                                    Dyed : {{obj.fabric_dyeing_inventory}}
                          
                                                    {% else %}
                                                    Raw : {{obj.Fabric_Inventory}}
                                                    {% endif %}</a>
                                            </div>
                                            <div
                                                class="col-6 col-md-4 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                                <div class="text-muted text-small d-md-none">Price</div>
                                                <div class="text-alternate">
                                                    <span>
                                                        <span class="text-small">$</span>
                                                        {{obj.total_price}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div
                                                class="col-6 col-md-2 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                                <div class="text-muted text-small d-md-none">Date</div>
                                                <div class="text-alternate">{{obj.recieved_at|date:"D d M"}}</div>
                                            </div>
                                            <div
                                                class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 align-items-md-end">
                                                <div class="text-muted text-small d-md-none">Status</div>
                                                <div class="text-alternate">
                                                    <span class="badge rounded-pill bg-outline-secondary">Sold</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                <h2 class="small-title">No Recent Data </h2>
                {% endif %}

                <!-- Recent Orders End -->
            </div>
        </div>
    </div>
</main>

{% endblock main %}
