{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{%block head %}
<title>Business Tex | Profile</title>
<link rel="stylesheet" href="{% static 'css/vendor/datatables.min.css' %}" />

{% endblock head %} 

{% block main %}

<main>
    <div class="container">
        <!-- Title and Top Buttons Start -->
        <div class="page-title-container">
            <div class="row">
                <!-- Title Start -->
                <div class="col-auto mb-3 mb-md-0 me-auto">
                    <div class="w-auto sw-md-30">
                        <a href="#" class="muted-link pb-1 d-inline-block breadcrumb-back">
                            <i data-cs-icon="chevron-left" data-cs-size="13"></i>
                            <span class="text-small align-middle">profile</span>
                        </a>
                        <h1 class="mb-0 pb-0 display-4" id="title">profile Detail</h1>
                    </div>
                </div>
                <!-- Title End -->

                <!-- Top Buttons Start -->
                <div class="col-12 col-md-5 d-flex align-items-end justify-content-end">
                    <a href='{% url "business:Person_invoice" person.id %}' type="button"
                        class="btn btn-outline-primary btn-icon btn-icon-start ms-0 ms-sm-1 w-100 w-md-auto">
                        <i data-cs-icon="save"></i>
                        <span>Reports</span>
                    </a>

                </div>
                <!-- Top Buttons End -->
            </div>
        </div>
        <!-- Title and Top Buttons End -->

        <div class="row gx-4 gy-5">
            <!-- Customer Start -->
            <div class="col-12 col-xl-4 col-xxl-3">
                <h2 class="small-title">Info</h2>
                <div class="card">
                    <div class="card-body mb-n5">
                        <div class="d-flex align-items-center flex-column">
                            <div class="mb-5 d-flex align-items-center flex-column">
                                <div
                                    class="sw-6 sh-6 mb-3 d-inline-block bg-primary d-flex justify-content-center align-items-center rounded-xl">
                                    <div class="text-white">BC</div>
                                </div>
                                <div class="h5 mb-1">Blaine Cottrell</div>
                                <div class="text-muted">
                                    <i data-cs-icon="pin" class="text-muted"></i>
                                    <span class="align-middle">Montreal, Canada</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="d-flex flex-row justify-content-between w-100 w-sm-50 w-xl-100 mb-5">
                                <a href='{% url "business:person_edit" person.id  %}' class="btn btn-primary w-100 me-2"> Edit </a>
                            </div>
                        </div>

                        <div class="mb-5">
                            <div>
                                <p class="text-small text-muted mb-2">Profile Info</p>
                                <div class="row g-0 mb-2">
                                    <div class="col-auto">
                                        <div class="sw-3 me-1">
                                            <i data-cs-icon="user" class="text-primary" data-cs-size="17"></i>
                                        </div>
                                    </div>
                                    <div class="col text-alternate align-middle">
                                        Blaine Cottrell
                                    </div>
                                </div>
                                <div class="row g-0 mb-2">
                                    <div class="col-auto">
                                        <div class="sw-3 me-1">
                                            <i data-cs-icon="pin" class="text-primary" data-cs-size="17"></i>
                                        </div>
                                    </div>
                                    <div class="col text-alternate">
                                        4 Glamis Avenue, Strathmore Park, Wellington 6022, New
                                        Zealand
                                    </div>
                                </div>
                                <div class="row g-0 mb-2">
                                    <div class="col-auto">
                                        <div class="sw-3 me-1">
                                            <i data-cs-icon="phone" class="text-primary" data-cs-size="17"></i>
                                        </div>
                                    </div>
                                    <div class="col text-alternate">+6443884455</div>
                                </div>
                                <div class="row g-0 mb-2">
                                    <div class="col-auto">
                                        <div class="sw-3 me-1">
                                            <i data-cs-icon="email" class="text-primary" data-cs-size="17"></i>
                                        </div>
                                    </div>
                                    <div class="col text-alternate">blaine@cottrell.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Customer End -->

            <div class="col-12 col-xl-8 col-xxl-9">
                <!-- Recent Orders Start -->
                <div class="d-flex justify-content-between">
                    <h2 class="small-title">Recent</h2>
                    
                </div>
                <div class="mb-5">
                    <div class="card mb-2">
                        <div class="row g-0 sh-16 sh-md-8">
                            <div class="col">
                                <div class="card-body pt-0 pb-0 h-100">
                                    <div class="row g-0 h-100 align-content-center">
                                        <div
                                            class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 h-md-100">
                                            <div class="text-muted text-small d-md-none">Id</div>
                                            <a href="Orders.Detail.html"
                                                class="text-truncate h-100 d-flex align-items-center">1239</a>
                                        </div>
                                        <div
                                            class="col-6 col-md-4 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Price</div>
                                            <div class="text-alternate">
                                                <span>
                                                    <span class="text-small">$</span>
                                                    321.75
                                                </span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-6 col-md-2 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Date</div>
                                            <div class="text-alternate">13.09.2020</div>
                                        </div>
                                        <div
                                            class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 align-items-md-end">
                                            <div class="text-muted text-small d-md-none">Status</div>
                                            <div class="text-alternate">
                                                <span class="badge rounded-pill bg-outline-secondary">PENDING</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="row g-0 sh-16 sh-md-8">
                            <div class="col">
                                <div class="card-body pt-0 pb-0 h-100">
                                    <div class="row g-0 h-100 align-content-center">
                                        <div
                                            class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 h-md-100">
                                            <div class="text-muted text-small d-md-none">Id</div>
                                            <a href="Orders.Detail.html"
                                                class="text-truncate h-100 d-flex align-items-center">1251</a>
                                        </div>
                                        <div
                                            class="col-6 col-md-4 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Price</div>
                                            <div class="text-alternate">
                                                <span>
                                                    <span class="text-small">$</span>
                                                    59.00
                                                </span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-6 col-md-2 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Date</div>
                                            <div class="text-alternate">14.09.2020</div>
                                        </div>
                                        <div
                                            class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 align-items-md-end">
                                            <div class="text-muted text-small d-md-none">Status</div>
                                            <div class="text-alternate">
                                                <span class="badge rounded-pill bg-outline-primary">DELIVERED</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="row g-0 sh-16 sh-md-8">
                            <div class="col">
                                <div class="card-body pt-0 pb-0 h-100">
                                    <div class="row g-0 h-100 align-content-center">
                                        <div
                                            class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 h-md-100">
                                            <div class="text-muted text-small d-md-none">Id</div>
                                            <a href="Orders.Detail.html"
                                                class="text-truncate h-100 d-flex align-items-center">1397</a>
                                        </div>
                                        <div
                                            class="col-6 col-md-4 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Price</div>
                                            <div class="text-alternate">
                                                <span>
                                                    <span class="text-small">$</span>
                                                    128.25
                                                </span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-6 col-md-2 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Date</div>
                                            <div class="text-alternate">17.09.2020</div>
                                        </div>
                                        <div
                                            class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 align-items-md-end">
                                            <div class="text-muted text-small d-md-none">Status</div>
                                            <div class="text-alternate">
                                                <span class="badge rounded-pill bg-outline-primary">DELIVERED</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="row g-0 sh-16 sh-md-8">
                            <div class="col">
                                <div class="card-body pt-0 pb-0 h-100">
                                    <div class="row g-0 h-100 align-content-center">
                                        <div
                                            class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 h-md-100">
                                            <div class="text-muted text-small d-md-none">Id</div>
                                            <a href="Orders.Detail.html"
                                                class="text-truncate h-100 d-flex align-items-center">1421</a>
                                        </div>
                                        <div
                                            class="col-6 col-md-4 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Price</div>
                                            <div class="text-alternate">
                                                <span>
                                                    <span class="text-small">$</span>
                                                    252.75
                                                </span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-6 col-md-2 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Date</div>
                                            <div class="text-alternate">17.09.2020</div>
                                        </div>
                                        <div
                                            class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 align-items-md-end">
                                            <div class="text-muted text-small d-md-none">Status</div>
                                            <div class="text-alternate">
                                                <span class="badge rounded-pill bg-outline-primary">DELIVERED</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="row g-0 sh-16 sh-md-8">
                            <div class="col">
                                <div class="card-body pt-0 pb-0 h-100">
                                    <div class="row g-0 h-100 align-content-center">
                                        <div
                                            class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 h-md-100">
                                            <div class="text-muted text-small d-md-none">Id</div>
                                            <a href="Orders.Detail.html"
                                                class="text-truncate h-100 d-flex align-items-center">1438</a>
                                        </div>
                                        <div
                                            class="col-6 col-md-4 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Price</div>
                                            <div class="text-alternate">
                                                <span>
                                                    <span class="text-small">$</span>
                                                    189.50
                                                </span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-6 col-md-2 d-flex flex-column justify-content-center mb-2 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Date</div>
                                            <div class="text-alternate">18.09.2020</div>
                                        </div>
                                        <div
                                            class="col-6 col-md-3 d-flex flex-column justify-content-center mb-2 mb-md-0 align-items-md-end">
                                            <div class="text-muted text-small d-md-none">Status</div>
                                            <div class="text-alternate">
                                                <span class="badge rounded-pill bg-outline-primary">DELIVERED</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recent Orders End -->
            </div>
        </div>
    </div>
</main>

{% endblock main %}
