{% load static %}
{% extends "base.html" %}

{% block head %}
    <title>Business Tax | Register</title>
{% endblock head %}

    {% block root %}
        <div id="root" class="h-100">
            <!-- Background Start -->
            <div class="fixed-background"></div>
            <!-- Background End -->

            <div class="container-fluid p-0 h-100 position-relative">
                <div class="row g-0 h-100">

                    <!-- Left Side Start -->
                    <div class="offset-0 col-12 d-none d-lg-flex offset-md-1 col-lg h-lg-100">
                        <div class="min-h-100 d-flex align-items-center">
                            <div class="w-100 w-lg-75 w-xxl-50">
                                <div>
                                    <div class="mb-5">
                                        <h1 class="display-3 text-white">Business Tax</h1>
                                        <h1 class="display-3 text-white">Ready for Your Business</h1>
                                    </div>
                                    <p class="h6 text-white lh-1-5 mb-5">
                                        Dynamically target high-payoff intellectual capital for customized technologies.
                                        Objectively integrate emerging core competencies before
                                        process-centric communities...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Left Side End -->

                    <!-- Right Side Start -->
                    <div class="col-12 col-lg-auto h-100 pb-4 px-4 pt-0 p-lg-0">
                        <div
                            class="sw-lg-70 min-h-100 bg-foreground d-flex justify-content-center align-items-center shadow-deep py-5 full-page-content-right-border">
                            <div class="sw-lg-50 px-5">
                                <div class="sh-11">
                                    <a href="index.html">
                                        <div class="logo-default"></div>
                                    </a>
                                </div>
                                <div class="mb-5">
                                    <h2 class="cta-1 mb-0 text-primary">Welcome,</h2>
                                    <h2 class="cta-1 text-primary">let's get the ball rolling!</h2>
                                </div>
                                <div class="mb-5">
                                    <p class="h6">Please use the form to register.</p>
                                    <p class="h6">
                                        If you are a member, please
                                        <a href="Pages.Authentication.Login.html">login</a>
                                        .
                                    </p>
                                </div>
                                <div>
                                    <form id="registerForm" class="tooltip-end-bottom" novalidate>
                                        <div class="mb-3 filled form-group tooltip-end-top">
                                            <i data-cs-icon="user"></i>
                                            <input class="form-control" placeholder="Username" name="registerName" />
                                        </div>
                                        <div class="mb-3 filled form-group tooltip-end-top">
                                            <i data-cs-icon="phone"></i>
                                            <input class="form-control" placeholder="Phone" name="registerPhone"
                                                id="hourDomesticMask" />
                                        </div>

                                        <div class="mb-3 filled form-group tooltip-end-top">
                                            <i data-cs-icon="email"></i>
                                            <input class="form-control" placeholder="Email" name="registerEmail" />
                                        </div>
                                        <div class="mb-3 filled form-group tooltip-end-top">
                                            <i data-cs-icon="lock-off"></i>
                                            <input class="form-control" name="registerPassword" type="password"
                                                placeholder="Password" />
                                        </div>
                                        <div class="mb-3 position-relative form-group">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="registerCheck"
                                                    name="registerCheck" />
                                                <label class="form-check-label" for="registerCheck">
                                                    I have read and accept the
                                                    <a href="#" target="_blank">terms and conditions.</a>
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-primary">Signup</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Right Side End -->
                </div>
            </div>
        </div>
    {% endblock root %}

    {% block SpecificScripts %}
        <!-- Page Specific Scripts Start -->
        <script src="{% static 'js/vendor/jquery.validate/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.validate/additional-methods.min.js' %}"></script>
        <script src="{% static 'js/pages/auth.register.js' %}"></script>
        <script src="js/vendor/imask.js"></script>
        <script src="js/forms/inputmask.js"></script>
        <!-- Page Specific Scripts End -->
    {% endblock SpecificScripts %}
