{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Business Tex | Dashboard</title>
{% endblock head %}

{% block main %}
<main>
    <div class="container">
        <!-- Title and Top Buttons Start -->
        <div class="page-title-container">
            <div class="row">
                <!-- Title Start -->
                <div class="col-12 col-md-7">
                    <a class="muted-link pb-2 d-inline-block hidden" href="#">
                        <span class="align-middle lh-1 text-small">&nbsp;</span>
                    </a>
                    <h1 class="mb-0 pb-0 display-4" id="title">Welcome, {{user.username}}</h1>
                </div>
                <!-- Title End -->
            </div>
        </div>
        <!-- Title and Top Buttons End -->

        <!-- Stats Start -->
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <div class="dropdown-as-select me-3" data-setActive="false" data-childSelector="span">
                        <a class="pe-0 pt-0 align-top lh-1 dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false" aria-haspopup="true">
                            <span class="small-title"></span>
                        </a>
                        <div class="dropdown-menu font-standard">
                            <div class="nav flex-column" role="tablist">
                                <a class="active dropdown-item text-medium" href="#" aria-selected="true"
                                    role="tab">Today's</a>
                                <a class="dropdown-item text-medium" href="#" aria-selected="false"
                                    role="tab">Weekly</a>
                                <a class="dropdown-item text-medium" href="#" aria-selected="false"
                                    role="tab">Monthly</a>
                                <a class="dropdown-item text-medium" href="#" aria-selected="false"
                                    role="tab">Yearly</a>
                            </div>
                        </div>
                    </div>
                    <h2 class="small-title">Stats</h2>
                </div>
                <div class="mb-5">
                    <div class="row g-2">
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="card h-100 hover-scale-up cursor-pointer">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <div
                                        class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center border border-primary mb-4">
                                        <i data-cs-icon="dollar" class="text-primary"></i>
                                    </div>
                                    <div class="mb-1 d-flex align-items-center text-alternate text-small lh-1-25">
                                        EARNINGS</div>
                                    <div class="text-primary cta-4">$ 315.20</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="card h-100 hover-scale-up cursor-pointer">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <div
                                        class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center border border-primary mb-4">
                                        <i data-cs-icon="basket" class="text-primary"></i>
                                    </div>
                                    <div class="mb-1 d-flex align-items-center text-alternate text-small lh-1-25">
                                        ORDERS</div>
                                    <div class="text-primary cta-4">16</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="card h-100 hover-scale-up cursor-pointer">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <div
                                        class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center border border-primary mb-4">
                                        <i data-cs-icon="server" class="text-primary"></i>
                                    </div>
                                    <div class="mb-1 d-flex align-items-center text-alternate text-small lh-1-25">
                                        SESSIONS</div>
                                    <div class="text-primary cta-4">463</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="card h-100 hover-scale-up cursor-pointer">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <div
                                        class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center border border-primary mb-4">
                                        <i data-cs-icon="user" class="text-primary"></i>
                                    </div>
                                    <div class="mb-1 d-flex align-items-center text-alternate text-small lh-1-25">
                                        USERS</div>
                                    <div class="text-primary cta-4">17</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="card h-100 hover-scale-up cursor-pointer">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <div
                                        class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center border border-primary mb-4">
                                        <i data-cs-icon="arrow-top-left" class="text-primary"></i>
                                    </div>
                                    <div class="mb-1 d-flex align-items-center text-alternate text-small lh-1-25">
                                        RETURNS</div>
                                    <div class="text-primary cta-4">2</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="card h-100 hover-scale-up cursor-pointer">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <div
                                        class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center border border-primary mb-4">
                                        <i data-cs-icon="message" class="text-primary"></i>
                                    </div>
                                    <div class="mb-1 d-flex align-items-center text-alternate text-small lh-1-25">
                                        COMMENTS</div>
                                    <div class="text-primary cta-4">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Stats End -->

        <div class="row">
            <!-- Recent Yarn in Stock Start -->
            <div class="col-xl-12 mb-5">
                <div class="d-flex justify-content-between">
                    <h2 class="small-title">Recently Added Yarns</h2>
                    <a href="#" class="btn btn-icon btn-icon-end btn-xs btn-background-alternate p-0 text-small"
                        type="a">
                        <span class="align-bottom">View All</span>
                        <i data-cs-icon="chevron-right" class="align-middle" data-cs-size="12"></i>
                    </a>
                </div>
                <div class="mb-n2 scroll-out">
                    <div class="scroll-by-count" data-count="6">

                        {% for yarn in recent_yarn %}
                        <div class="card mb-2 sh-15 sh-md-6">
                            <div class="card-body pt-0 pb-0 h-100">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-9 col-md-3 d-flex align-items-center mb-3 mb-md-0 h-md-100">
                                        <a href="{% url 'business:home' %}"
                                            class="body-link stretched-link">{{yarn.yarn}}
                                        </a>
                                    </div>

                                    <div
                                        class="col-3 col-md-3 d-flex align-items-center text-muted mb-1 mb-md-0 justify-content-end justify-content-md-start">
                                       <span class="badge bg-outline-primary me-1"> {{yarn.total_weight}} kg </span>&nbsp &nbsp
                                       <span class="badge bg-outline-secondary me-1"> {{yarn.get_existing_weight}} kg</span>
                                    </div>


                                    <div class="col-12 col-md-2 d-flex align-items-center mb-1 mb-md-0 text-alternate">
                                        <span>
                                            {{yarn.total_price}}
                                            <span class="text-small">E.P</span>
                                            
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-2 d-flex align-items-center mb-1 mb-md-0 text-alternate">
                                        <span>
                                            {{yarn.supplier.name}}
                                        </span>
                                    </div>

                                    <div
                                        class="col-12 col-md-2 d-flex align-items-center justify-content-md-end mb-1 mb-md-0 text-alternate">
                                        {{yarn.recieved_at|date:"H:m D d M "}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Recent Yarn in Stock End -->
        </div>
        
        <div class="row">
            <!-- Recent Fabric in Stock Start -->
            <div class="col-xl-12 mb-5">
                <div class="d-flex justify-content-between">
                    <h2 class="small-title">Recently Added Fabrics</h2>
                    <a href="#" class="btn btn-icon btn-icon-end btn-xs btn-background-alternate p-0 text-small"
                        type="a">
                        <span class="align-bottom">View All</span>
                        <i data-cs-icon="chevron-right" class="align-middle" data-cs-size="12"></i>
                    </a>
                </div>
                <div class="mb-n2 scroll-out">
                    <div class="scroll-by-count" data-count="6">

                        {% for fabric in recent_fabric %}
                        <div class="card mb-2 sh-15 sh-md-6">
                            <div class="card-body pt-0 pb-0 h-100">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-9 col-md-3 d-flex align-items-center mb-3 mb-md-0 h-md-100">
                                        <a href="{% url 'business:home' %}"
                                            class="body-link stretched-link">{{fabric.fabric}}
                                        </a>
                                    </div>

                                    <div
                                        class="col-3 col-md-3 d-flex align-items-center text-muted mb-1 mb-md-0 justify-content-end justify-content-md-start">
                                        <span class="badge bg-outline-primary me-1"> {{fabric.total_weight}} kg</span> &nbsp &nbsp
                                        <span class="badge bg-outline-secondary me-1"> {{fabric.get_existing_weight}} kg</span>
                                    </div>


                                    <div class="col-12 col-md-2 d-flex align-items-center mb-1 mb-md-0 text-alternate">
                                        <span>
                                            {{fabric.total_price}}
                                            <span class="text-small">E.P</span>
                                            
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-2 d-flex align-items-center mb-1 mb-md-0 text-alternate">
                                        <span>
                                            {{fabric.supplier.name}}
                                        </span>
                                    </div>

                                    <div
                                        class="col-12 col-md-2 d-flex align-items-center justify-content-md-end mb-1 mb-md-0 text-alternate">
                                        {{fabric.recieved_at|date:"H:m D d M "}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Recent Fabric in Stock End -->
        </div>

        <div class="row">
            <!-- Recent Dyied Fabric in Stock Start -->
            <div class="col-xl-12 mb-5">
                <div class="d-flex justify-content-between">
                    <h2 class="small-title">Recently Added Dyied Fabric</h2>
                    <a href="#" class="btn btn-icon btn-icon-end btn-xs btn-background-alternate p-0 text-small"
                        type="a">
                        <span class="align-bottom">View All</span>
                        <i data-cs-icon="chevron-right" class="align-middle" data-cs-size="12"></i>
                    </a>
                </div>
                <div class="mb-n2 scroll-out">
                    <div class="scroll-by-count" data-count="6">

                        {% for dyed_fabric in recent_dyed_fabric %}
                        <div class="card mb-2 sh-15 sh-md-6">
                            <div class="card-body pt-0 pb-0 h-100">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-9 col-md-3 d-flex align-items-center mb-3 mb-md-0 h-md-100">
                                        <a href="{% url 'business:home' %}"
                                            class="body-link stretched-link">{{dyed_fabric.fabric}}
                                        </a>
                                    </div>

                                    <div
                                        class="col-3 col-md-3 d-flex align-items-center text-muted mb-1 mb-md-0 justify-content-end justify-content-md-start">
                                        <span class="badge bg-outline-primary me-1"> {{dyed_fabric.total_weight}} kg</span> &nbsp &nbsp
                                        <span class="badge bg-outline-secondary me-1"> {{dyed_fabric.get_existing_weight}} kg</span>
                                    </div>


                                    <div class="col-12 col-md-2 d-flex align-items-center mb-1 mb-md-0 text-alternate">
                                        <span>
                                            {{dyed_fabric.total_price}}
                                            <span class="text-small">E.P</span>
                                            
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-2 d-flex align-items-center mb-1 mb-md-0 text-alternate">
                                        <span>
                                            {{dyed_fabric.supplier.name}}
                                        </span>
                                    </div>

                                    <div
                                        class="col-12 col-md-2 d-flex align-items-center justify-content-md-end mb-1 mb-md-0 text-alternate">
                                        {{dyed_fabric.recieved_at|date:"H:m D d M "}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Recent Dyied Fabric in Stock End -->
        </div>

        <div class="row mt-3 gx-4 gy-5">
            <!-- Top Selling Items Start -->
            <div class="justify-content-between">
                <section class="scroll-section" id="scrollbar">
                    <div class="d-flex justify-content-between">
                        <h2 class="small-title">Last Sold Fabric</h2>
                        <a href="#" class="btn btn-icon btn-icon-end btn-xs btn-background-alternate p-0 text-small"
                            type="a">
                            <span class="align-bottom">View All</span>
                            <i data-cs-icon="chevron-right" class="align-middle" data-cs-size="12"></i>
                        </a>
                    </div>
                    <div class="card mb-5">
                        <div class="card-body scroll-out">
                            <div class="scroll-track-visible sh-45">
                                <!-- Scrollbar Controls Start -->
                                <div class="row">
                                    <div class="col-12 col-sm-5 col-lg-3 col-xxl-2 mb-1">
                                        <div
                                            class="d-inline-block float-md-start me-1 mb-1 search-input-container w-100 border border-separator bg-foreground search-sm">
                                            <input class="form-control form-control-sm datatable-search"
                                                placeholder="Search" data-datatable="#datatableScroll" />
                                            <span class="search-magnifier-icon">
                                                <i data-cs-icon="search"></i>
                                            </span>
                                            <span class="search-delete-icon d-none">
                                                <i data-cs-icon="close"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-lg-9 col-xxl-10 text-end mb-1">
                                        <div class="d-inline-block">
                                            <button
                                                class="btn btn-icon btn-icon-only btn-outline-muted btn-sm datatable-print"
                                                type="button" data-datatable="#datatableScroll">
                                                <i data-cs-icon="print"></i>
                                            </button>
                                            <div class="d-inline-block datatable-export"
                                                data-datatable="#datatableScroll">
                                                <button
                                                    class="btn btn-icon btn-icon-only btn-outline-muted btn-sm dropdown"
                                                    data-bs-toggle="dropdown" type="button" data-bs-offset="0,3">
                                                    <i data-cs-icon="download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                    <button class="dropdown-item export-copy"
                                                        type="button">Copy</button>
                                                    <button class="dropdown-item export-excel"
                                                        type="button">Excel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Scrollbar Controls End -->

                                <!-- Scrollbar Table Start -->
                                <table class="data-table data-table-scrollable responsive nowrap"
                                    data-order='[[ 0, "desc" ]]' id="datatableScroll">
                                    <thead>
                                        <tr>
                                            <th class="text-muted text-small text-uppercase">Name</th>
                                            <th class="text-muted text-small text-uppercase">Total Price</th>
                                            <th class="text-muted text-small text-uppercase">Weight</th>
                                            <th class="text-muted text-small text-uppercase">Customer</th>
                                            <th class="text-muted text-small text-uppercase">Category</th>
                                            <th class="text-muted text-small text-uppercase">date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sold_fabric in  sold_fabrics %}                                                                    
                                        <tr>
                                            {% if sold_fabric.fabric_dyeing_inventory %}
                                            <td>{{sold_fabric.fabric_dyeing_inventory.fabric|truncatechars:15}}</td>
                                            <td class="text-alternate">{{sold_fabric.total_price}}</td>
                                            <td class="text-alternate">{{sold_fabric.total_weight}}</td>
                                            <td class="text-alternate">{{sold_fabric.customer.name|truncatechars:15}}</td>
                                            <td class="text-alternate">Dyed Fabric</td>
                                            <td class="text-alternate">{{sold_fabric.sold_at|date:"H:m D d M "}}</td>
                                            {% else %}
                                            <td>{{sold_fabric.Fabric_Inventory.fabric|truncatechars:15}}</td>
                                            <td class="text-alternate">{{sold_fabric.total_price}}</td>
                                            <td class="text-alternate">{{sold_fabric.total_weight}}</td>
                                            <td class="text-alternate">{{sold_fabric.customer.name|truncatechars:15}}</td>
                                            <td class="text-alternate">Raw Fabric</td>
                                            <td class="text-alternate">{{sold_fabric.sold_at|date:"H:m D d M "}}</td>
                                            {% endif %}
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- Scrollbar Table End -->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Top Selling Items End -->
        </div>


    </div>
</main>
{% endblock main %}


{% block SpecificScripts %}
<!-- Page Specific Scripts Start -->
<script src="{% static 'js/pages/dashboard.js' %}"></script>

<script src="{% static 'js/vendor/datatables.min.js' %}"></script>
<script src="{% static 'js/cs/datatable.extend.js' %}"></script>
<script src="{% static 'js/plugins/datatable.boxedvariations.js' %}"></script>
<!-- Page Specific Scripts End -->
{% endblock SpecificScripts %}
